apiVersion: apps/v1
kind: Deployment
metadata:
  name: core
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: core
          env:
            - name: ENV
              value: "production"
          resources:
            requests:
              cpu: "250m"
              memory: "256Mi"
            limits:
              cpu: "1000m"
              memory: "1Gi"

