apiVersion: apps/v1
kind: Deployment
metadata:
  name: core
  labels:
    app: core
spec:
  replicas: 1
  selector:
    matchLabels:
      app: core
  template:
    metadata:
      labels:
        app: core
    spec:
      containers:
        - name: core
          image: ghcr.io/lootopia-org/core:latest
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: env-file
              mountPath: /app/build/.env
              subPath: .env
          ports:
            - containerPort: 8080
          env:
            - name: ENV
              value: "base"
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
    volumes:
        - name: env-file
          secret:
            secretName: core-env
